/**
 * LoadMore Component Demo Style for Uxcore
 * @author peijie.dpj
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../node_modules/kuma-base/theme/orange";
@import "../src/LoadMore.less";

.demo-content {
  width: 560px;
  margin: 50px auto;

  p {
    text-align: center;
    font-size: 14px;
    background: #fafafa;
    height: 30px;
    line-height: 30px;
  }
}